.swiper-button-prev,
.swiper-button-next {
  background-color: rgba(0, 0, 0, 0.6);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
  filter: invert(1);
}

.swiper-pagination-bullet-active {
  background-color: rgba(0, 0, 0, 0.9);
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
  pointer-events: visible;
}